@charset "utf-8";

/*------------------------------------------------------------------
[Table of contents]

0. Common styles
1. Loading screen
2. Header (logo and navigation)
3. Index page
4. Game's page
5. Models page
6. Single model page, About page and French page
7. Mobile version for screen less than 500px in width

/*------------------------------------------------------------------
[Typography]

Body and paragraphs: "Montserrat";
Headers and Titles: "Poppins";

-------------------------------------------------------------------*/
/* ==============================
   0. Common styles
============================== */
:root {
  --mouse-x: 0;
}

*, {
  box-sizing: border-box;
}

;

body {
  overflow: hidden;
  font-size: 24px;
  transform-style: preserve-3d;
  perspective: 2000px;
  -webkit-overflow-scrolling: touch;
}

div, figure {
  box-sizing: border-box;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.9vmax;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 0.3vmax;
}

.inner {
  height: 96%;
  width: 98%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  background-image: -ms-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -moz-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -o-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -webkit-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -webkit-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: linear-gradient(33deg, #171f2c 10%, #3c4c62);
  animation: fade2 0.7s ease;
}

@-webkit-keyframes fade2 {
  from {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  to {
    height: 96%;
    width: 98%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

#body-anim {
  animation: fade3 0.7s ease;
}

@-webkit-keyframes fade3 {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

/* Buttons
 -----------------------------*/
.button-wrapper {
  height: 10%;
  width: 100%;
  opacity: 1;
  text-align: center;
  animation: fade 2s;
}

.button {
  box-shadow: 0px 0px 0px 2.5px #fff;
  transition: box-shadow 0.5s linear;
  margin: 0.5em;
  border-style: none;
  background: none;
  padding: 0.7%;
  width: 9%;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1vmax;
}

.button:hover {
  box-shadow: 0px 0px 0px 5px #fff;
}

/* Introduction and game container for text and buttons
 -----------------------------*/
.intro2-container {
  position: relative;
  text-align: center;
  height: 30%;
  opacity: 1;
  width: 65%;
  animation: fade 2s;
  margin: auto;
}

/* BLACKBOX Avatar
 -----------------------------*/
.avatar {
  height: 30%;
  width: 25%;
  animation: float 4s ease-in-out infinite, change 5s ease-in-out;
  margin-top: 7.5%;
  background-image: url(../images/smile-bubble.png);
  background-repeat: no-repeat;
  background-position: top right;
  margin-left: auto;
  background-size: 7vmax;
  margin-right: auto;
}

.avatar2 {
  height: 30%;
  width: 25%;
  animation: float 4s ease-in-out infinite;
  margin-top: 7.5%;
  background-image: url(../images/wait-bubble.png);
  background-repeat: no-repeat;
  background-position: top right;
  margin-left: auto;
  background-size: 7vmax;
  margin-right: auto;
}

.avatar3 {
  height: 30%;
  width: 25%;
  animation: float 4s ease-in-out infinite;
  margin-top: 7.5%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

@keyframes change {
  0% {
    background-image: url(../images/hey-bubble.png);
  }

  99% {
    background-image: url(../images/hey-bubble.png);
  }

  100% {
    background-image: url(../images/smile-bubble.png);
  }
}

#cube-holder {
  height: 5vmax;
  width: 5vmax;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform:
    rotateY(calc(var(--mouse-x) * 2 * 90deg)) rotateX(calc(var(--mouse-y) * 2 * 90deg));
  transform-style: preserve-3d;
  pointer-events: none;
  transition: transform 3s;
  -webkit-transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  background: #d9d9d9;
}

#face-top {
  transform: rotateX(90deg) translateZ(2.5vmax);
  z-index: 15;
  background: #dddddd;
}

#face-front {
  transform: translateZ(2.5vmax);
  z-index: 10;
  background: #828282;
}

#face-right {
  transform: rotateY(90deg) translateZ(2.5vmax);
  background: #5e5e5e;
  z-index: 5;
}

#face-back {
  transform: translateZ(-2.5vmax);
  background: #828282;
  z-index: -1;
}

#face-left {
  transform: rotateY(90deg) translateZ(-2.5vmax);
  background: #5e5e5e;
  z-index: 5;
}

#face-bottom {
  transform: rotateX(90deg) translateZ(-2.5vmax);
  background: #dddddd;
  z-index: 15;
}

#cube-holder2 {
  height: 7vmax;
  width: 7vmax;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform:
    rotateY(calc(var(--mouse-x) * 2 * 90deg)) rotateX(calc(var(--mouse-y) * 2 * 90deg));
  transform-style: preserve-3d;
  pointer-events: none;
  transition: transform 3s;
  -webkit-transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -moz-transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -o-transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  transition: all 3s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.face2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  height: 100%;
  width: 100%;
  background: #d9d9d9;
}

#face2-top {
  transform: rotateX(90deg) translateZ(3.5vmax);
  z-index: 15;
  background: #ffffff;
}

#face2-front {
  transform: translateZ(3.5vmax);
  z-index: 10;
  background: #e4e4e4;
}

#face2-right {
  transform: rotateY(90deg) translateZ(3.5vmax);
  background: #d4d4d4;
  z-index: 5;
}

#face2-back {
  transform: translateZ(-3.5vmax);
  background: #e4e4e4;
  z-index: -1;
}

#face2-left {
  transform: rotateY(90deg) translateZ(-3.5vmax);
  background: #d4d4d4;
  z-index: 5;
}

#face2-bottom {
  transform: rotateX(90deg) translateZ(-3.5vmax);
  background: #ffffff;
  z-index: 15;
}

/* ==============================
   1. Loading screen
============================== */
#load-logo img {
  height: 3vmax;
  width: auto;
  background-size: contain;
  margin-bottom: 0.5vmax;
  position: relative;
  z-index: 888;
}

#loader {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: -ms-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -moz-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -o-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -webkit-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -webkit-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: linear-gradient(33deg, #171f2c 10%, #3c4c62);
  z-index: 999;
  text-align: center;
}

.preloader {
  width: 6vmax;
  height: 6vmax;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  background: #262d37;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(45deg);
  margin-bottom: -5vmax;
  z-index: 555;
  animation: preloader 10s linear infinite;
}

@keyframes preloader {
  0%, 100% {
    transform: rotate(45deg);
  }

  60% {
    transform: rotate(405deg);
  }
}

/* ==============================
   2. Header (logo and navigation)
============================== */
#logo img {
  height: 4vmax;
  width: auto;
  background-size: contain;
  position: fixed;
  top: 75px;
  left: 75px;
  z-index: 6;
}

.nav-header {
  position: fixed;
  top: 75px;
  right: 75px;
  z-index: 77;
}

input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 0.2vmax;
  width: 100%;
  background-color: #fff;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}

.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 6px;
  background-color: #334155;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
  background-color: #334155;
}

#sidebarMenu {
  height: 100%;
  position: fixed;
  right: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background: white;
  z-index: 98;
  padding-top: 75px;
  margin-top: -75px;
}

.sidebarMenuInner {
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  margin-top: 100px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.sidebarMenuInner li {
  list-style: none;
  color: #676767;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 1vmax;
  font-size: 1.3vmax;
  cursor: pointer;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
  font-size: 1vmax;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: #676767;
}

.sidebarMenuInner li a {
  color: #676767;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked~#sidebarMenu {
  transform: translateX(0);
}

li a img {
  height: 3vmax;
}

/* ==============================
   3. Index page
============================== */
span.button-text {
  position: relative;
}

.phrase1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vmax;
}

.phrase2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2.7vmax;
}

.phrase3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1vmax;
}

.phrase4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.7vmax;
}

div#buttonBox {
  margin-top: 2.5vmax;
}

#buttonBox button {
  box-shadow: 0px 0px 0px 2.5px #fff;
  transition: box-shadow 0.5s linear;
  margin-left: auto;
  border-style: none;
  margin-right: auto;
  background: none;
  margin-bottom: 1.7vmax;
  display: block;
  text-align: center;
  padding: 0.83vmax;
  width: 30%;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.83vmax;
}

#buttonBox button:hover {
  box-shadow: 0px 0px 0px 5px #fff;
}

.loadBar {
  width: 10vmax;
  height: 1vmax;
  left: calc(50% - 100px);
  top: calc(50% + 60px);
  position: relative;
  background: #1b1f26;
  z-index: 888;
  left: 0.4vmax;
}

.progress {
  position: relative;
  width: 0%;
  height: inherit;
  background: #c3032c;
  z-index: 888;
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* Text Opening Sequence
 -----------------------------*/
.intro-container {
  position: relative;
  display: grid;
  text-align: center;
  height: 30%;
  width: 65%;
  margin: auto;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  37% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  87% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out2 {
  0% {
    opacity: 0;
  }

  12% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  38% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  87% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out3 {
  0% {
    opacity: 0;
  }

  12% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  37% {
    opacity: 0;
  }

  55% {
    opacity: 0;
  }

  61% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  87% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  87% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text-animated-one {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  animation: fade-out 24s;
}

.text-animated-two {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: auto;
  animation: fade-out2 24s;
}

.text-animated-three {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: auto;
  animation: fade-out3 24s;
}

.text-animated-four {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: auto;
  animation: fade-in 24s;
}

/* Introduction toggle loading
 -----------------------------*/
#myDIV {
  display: none;
}

article#myDIV2 {
  height: auto;
  display: contents;
}

article#myDIV3 {
  height: auto;
}

#myDIV3 {
  display: none;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* BLACKBOX's name glitch effect
 -----------------------------*/
.glitch-container {
  transform: translate(0, 0);
}

.glitch-container .glitch {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 2.7vmax;
  margin: 0;
  z-index: 3;
  position: relative;
  opacity: 1;
  animation: blink 6s linear;
  width: auto;
  text-align: center;
  overflow: hidden;
}

.glitch-container .glitch:before, .glitch-container .glitch:after {
  display: block;
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.glitch-container .glitch:before {
  text-shadow: -2px 0 #00FDFF;
  z-index: -1;
  transform: translate(0, 0);
  animation: glitch 7s linear;
}

.glitch-container .glitch:after {
  text-shadow: 2px 0 #FF0000;
  z-index: -2;
  transform: translate(0, 0);
  animation: glitch-2 7s linear;
}

@keyframes glitch {
  0% {
    clip: rect(0px, 9999px, 100px, 0);
    transform: translate(-10px, 0);
  }

  1% {
    clip: rect(70px, 9999px, 80px, 0);
    transform: translate(30px, 0);
  }

  2% {
    clip: rect(80px, 9999px, 90px, 0);
    transform: translate(-30px, 0);
  }

  3% {
    clip: rect(20px, 9999px, 30px, 0);
    transform: translate(10px, 0);
  }

  4% {
    clip: rect(50px, 9999px, 60px, 0);
    transform: translate(-35px, 0);
  }

  5% {
    clip: rect(0px, 9999px, 0px, 0);
    transform: translate(15px, 0);
  }

  6% {
    clip: rect(0px, 9999px, 0px, 0);
    transform: translate(-5px, 0);
  }

  7% {
    clip: rect(0px, 9999px, 100px, 0);
    transform: translate(0, 0);
    color: white;
  }

  8% {
    color: #00FDFF;
    transform: translate(-50px, 0);
  }

  10% {
    color: #00FDFF;
    transform: translate(-50px, 0);
  }

  11% {
    color: #00FDFF;
    transform: translate(0, 0);
  }

  12% {
    color: white;
  }

  13% {
    clip: rect(0px, 9999px, 100px, 0);
    transform: translate(-10px, 0);
  }

  14% {
    clip: rect(70px, 9999px, 80px, 0);
    transform: translate(30px, 0);
  }

  15% {
    clip: rect(80px, 9999px, 90px, 0);
    transform: translate(-30px, 0);
  }

  16% {
    clip: rect(20px, 9999px, 30px, 0);
    transform: translate(10px, 0);
  }

  17% {
    clip: rect(50px, 9999px, 60px, 0);
    transform: translate(-35px, 0);
  }

  18% {
    clip: rect(0px, 9999px, 0px, 0);
    transform: translate(15px, 0);
  }

  19% {
    clip: rect(0px, 9999px, 0px, 0);
    transform: translate(-5px, 0);
  }

  20% {
    clip: rect(0px, 9999px, 100px, 0);
    transform: translate(0, 0);
    color: white;
  }

  21% {
    color: #c3032c;
    transform: translate(-50px, 0);
  }

  23% {
    color: #c3032c;
    transform: translate(-50px, 0);
  }

  25% {
    color: #c3032c;
    transform: translate(0, 0);
  }

  26% {
    color: white;
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  3% {
    opacity: 0;
  }

  6% {
    opacity: .4;
  }

  9% {
    opacity: 0;
    left: 0%;
    color: white;
  }

  12% {
    opacity: 1;
  }

  15% {
    opacity: .2;
  }

  18% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

/* ==============================
   4. Game's page
============================== */
#text span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.7vmax;
}

#text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1vmax;
  width: 60%;
  line-height: 1.7vmax;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 30%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.1vmax;
  margin-top: 2.5vmax;
  min-height: 3vmax;
  background-color: #f1f1f1;
  outline: none;
  border-style: none;
  border-bottom: 1.5px solid #c3032c;
}

/* ==============================
   5. Models page
============================== */
.wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

footer {
  background: #12171e;
  position: absolute;
  bottom: 0;
  height: 10%;
  left: 0;
  z-index: 6;
  width: 100%;
}

footer label {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .75em;
  font-weight: bold;
  position: relative;
  width: 7vmax;
  height: 100%;
  padding: 0;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9vmax;
}

label span {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: -0.5vmax;
  height: max-content;
  width: auto;
}

.slide {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 4;
  background-image: -ms-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -moz-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -o-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -webkit-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: -webkit-linear-gradient(33deg, #171f2c 10%, #3c4c62);
  background-image: linear-gradient(33deg, #171f2c 10%, #3c4c62);
  padding: 0;
  margin: auto;
  background-position: 50% 50%;
  background-size: cover;
  transition: top 0s .75s;
}

[id^="slide"]:checked+.slide {
  top: 0;
  z-index: 5;
  transition: top .65s ease-in-out;
}

.btn1, .btn2, .btn3 {
  position: relative;
  width: 7vmax;
  height: 100%;
}

#vertical {
  width: 100%;
  height: 90%;
  display: flex;
  position: relative;
  background-image: url(../images/bg-slider.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40vmax;
}

.slider-inner img {
  float: left;
  transform: perspective(5000px) rotateY(-45deg) rotateX(-14deg) rotate(13deg);
  box-shadow: 2vmax -1vmax 0px 0vmax #12171e;
  width: 48%;
  margin-right: 2%;
  margin-top: -4%;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

.vertical-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
  scroll-behavior: smooth;
}

.vertical-scroll-wrapper>figure {
  display: block;
}

.rectangles>figure {
  width: 100%;
  height: 100%;
  margin: auto;
  scroll-snap-align: start;
}

.slider-outer {
  height: 100%;
  width: 45%;
  position: relative;
  display: flex;
  margin: auto;
}

.slider-inner {
  height: auto;
  width: 100%;
  position: relative;
  margin: auto;
}

.slider-inner p, .outer p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1vmax;
  text-transform: uppercase;
  text-align: left;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3vmax;
  text-transform: uppercase;
  text-align: left;
  width: 50%;
  line-height: 3.15vmax;
  float: right;
  padding: 0;
  padding-bottom: 3%;
  margin: 0;
}

/* ==============================
   6. Single model page, About page and French page
============================== */
.page-container div h3 {
  background-image: url(../images/mouse.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 9%;
  width: 80% !important;
  padding-right: 5%;
  font-size: 2.3vmax;
}

.page-container:hover div h3 {
  animation: background1 2s ease normal;
  background-image: none;
}

@-webkit-keyframes background1 {
  0% {
    background-image: url(../images/mouse.png);
    background-size: 9%;
  }

  90% {
    background-image: url(../images/mouse.png);
    background-size: 9%;
  }

  100% {
    background-size: 0%;
    background-position: right center;
  }
}

.learnabout {
  width: 50%;
  height: 5vmax;
  text-align: right;
  position: relative;
}

.learnabout a {
  cursor: pointer;
  font-size: 0.9vmax;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-right: 75px;
  text-decoration: none;
  color: #ffffff;
}

.numerotation {
  width: 50%;
  height: 5vmax;
  text-align: left;
}

.numerotation img {
  height: 2.5vmax;
  width: auto;
  margin-left: 75px;
}

.outer {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
}

.page-img {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  overflow: hidden;
}

.page-img img {
  transform: perspective(5000px) rotateY(-45deg) rotateX(-14deg) rotate(13deg);
  box-shadow: 30px -20px 0px -5px #12171e;
  width: 20vmax;
  margin: auto;
  height: auto;
}

.page-container {
  height: 100%;
  width: 65%;
  background: #f1f1f1;
  padding-top: 15%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  color: #676767;
  overflow: auto;
}

.text-container {
  width: 85%;
  margin-top: 10%;
  height: auto;
  margin-bottom: 4%;
}

/* ==============================
   7. Mobile version for screen less than 500px in width
============================== */
@media only screen and (min-width: 420px) {
  #sidebarMenu {
    width: 25vmax;
    transform: translateX(25vmax);
  }
}

@media only screen and (max-width: 500px) {
  #load-logo img {
    height: 7.5vmax;
    width: auto;
    background-size: contain;
    margin-bottom: 0.5vmax;
    position: relative;
    z-index: 888;
  }

  .loadBar {
    width: 27vmax;
    height: 1vmax;
    left: calc(50% - 100px);
    top: calc(50% + 60px);
    position: relative;
    background: #1b1f26;
    z-index: 888;
    left: 0.4vmax;
  }

  .preloader {
    width: 14vmax;
    height: 14vmax;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    background: #262d37;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(45deg);
    margin-bottom: -11vmax;
    z-index: 555;
    animation: preloader 10s linear infinite;
  }

  #logo img {
    height: 4vmax;
    width: auto;
    background-size: contain;
    position: fixed;
    top: 50px;
    left: 35px;
    z-index: 6;
  }

  .nav-header {
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 77;
  }

  #sidebarMenu {
    height: 100%;
    position: fixed;
    right: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    background: white;
    z-index: 98;
    padding-top: 35px;
    margin-top: -35px;
  }

  .sidebarMenuInner li {
    list-style: none;
    color: #676767;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 2vmax;
    font-size: 2.5vmax;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
  }

  .sidebarMenuInner li span {
    font-size: 2vmax;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #676767;
  }

  li a img {
    height: 6vmax;
  }

  .inner {
    height: 98%;
    width: 97%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    background-image: -ms-linear-gradient(33deg, #171f2c 10%, #3c4c62);
    background-image: -moz-linear-gradient(33deg, #171f2c 10%, #3c4c62);
    background-image: -o-linear-gradient(33deg, #171f2c 10%, #3c4c62);
    background-image: -webkit-gradient(33deg, #171f2c 10%, #3c4c62);
    background-image: -webkit-linear-gradient(33deg, #171f2c 10%, #3c4c62);
    background-image: linear-gradient(33deg, #171f2c 10%, #3c4c62);
    animation: fade2 0.7s ease;
  }
  
  @-webkit-keyframes fade2 {
  from {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  to {
    height: 98%;
    width: 97%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

  .avatar {
    height: 20%;
    width: 25%;
    animation: float 4s ease-in-out infinite, change 5s ease-in-out;
    margin-top: 40.5%;
    background-image: url(../images/smile-bubble.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin-left: auto;
    background-size: 7vmax;
    margin-right: auto;
  }

  .avatar2 {
    height: 20%;
    width: 25%;
    animation: float 4s ease-in-out infinite;
    margin-top: 40.5%;
    background-image: url(../images/wait-bubble.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin-left: auto;
    background-size: 7vmax;
    margin-right: auto;
  }

  .avatar3 {
    height: 20%;
    width: 25%;
    animation: float 4s ease-in-out infinite;
    margin-top: 40.5%;
    margin-left: auto;
    margin-right: auto;
  }

  .phrase1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2vmax;
  }

  .glitch-container .glitch {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 4.3vmax;
    margin: 0;
    z-index: 3;
    position: relative;
    opacity: 1;
    animation: blink 6s linear;
    width: auto;
    text-align: center;
    overflow: hidden;
  }

  .phrase3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2vmax;
  }

  .phrase4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.7vmax;
  }
  
  embed {
    width: 100% !important;
  }

  .button {
    box-shadow: 0px 0px 0px 2.5px #fff;
    transition: box-shadow 0.5s linear;
    margin: 0.5em;
    border-style: none;
    background: none;
    padding: 0.7%;
    width: 25%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.7vmax;
  }

  span.button-text {
    font-size: 1.5vmax !important;
  }

  span.button-text:nth-child(1) {
    font-size: 1.8vmax !important;
  }

  div#buttonBox {
    margin-top: 3.5vmax;
  }

  .button-wrapper {
    height: 10%;
    width: 100%;
    opacity: 1;
    text-align: center;
    animation: fade 2s;
  }

  #buttonBox button {
    box-shadow: 0px 0px 0px 2.5px #fff;
    transition: box-shadow 0.5s linear;
    margin-left: auto;
    border-style: none;
    margin-right: auto;
    background: none;
    margin-bottom: 2vmax;
    display: block;
    text-align: center;
    padding: 0.83vmax;
    width: 95%;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.7vmax;
  }

  input {
    width: 85%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.1vmax;
    margin-top: 2.5vmax;
    min-height: 3vmax;
    background-color: #f1f1f1;
    outline: none;
    border-style: none;
    border-bottom: 1.5px solid #c3032c;
  }

  #text span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.3vmax;
  }

  #text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.7vmax;
    width: 100%;
    line-height: 2.4vmax;
    margin-left: auto;
    margin-right: auto;
  }

  .learnabout a {
    cursor: pointer;
    font-size: 1.1vmax;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-right: 45px;
    text-decoration: none;
    color: #ffffff;
  }

  h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.4vmax;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 0.3vmax;
  }

  .slider-inner p, .outer p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5vmax !important;
    text-align: left;
    line-height: 2.5vmax !important;
  }

  .numerotation img {
    height: 2.7vmax;
    width: auto;
    margin-left: 35px;
  }

  .slider-outer {
    height: 100%;
    width: 80%;
    position: relative;
    display: flex;
    margin: auto;
  }

  .page-container {
    height: 100%;
    width: 65%;
    background: #f1f1f1;
    padding-top: 30%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: #676767;
    overflow: auto;
  }

  .page-img img {
    transform: perspective(5000px) rotateY(-45deg) rotateX(-14deg) rotate(13deg);
    box-shadow: 30px -20px 0px -5px #12171e;
    width: 75%;
    margin: auto;
    height: auto;
    margin-left: 5%;
  }

  .text-container {
    width: 95%;
    margin-top: 25%;
    height: auto;
    margin-bottom: 15%;
  }

  .page-container div:nth-child(2) {
    width: 49% !important;
  }

  .page-container div:nth-child(3) {
    width: 49% !important;
  }

  .page-container div h3 {
    background-image: url(../images/mouse.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 9%;
    width: 80% !important;
    padding-right: 5%;
    font-size: 2.7vmax;
    padding-bottom: 4%;
  }

  .page-container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3vmax;
    text-transform: uppercase;
    text-align: left;
    width: 50%;
    line-height: 3.15vmax;
    float: right;
    padding: 0;
    padding-bottom: 7%;
    margin: 0;
  }
}
