/*

Condiments
Pippin Barr

Basic CSS

*/
html {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  width: 100%;
}

body {
  font-size: 3.5vmax;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: white;
  text-align: center;
  background: #134E5E;
  margin: 15%;
  max-width: 70%;
  background: #093028;
  background: -webkit-linear-gradient(to bottom, #237A57, #093028);
  background: linear-gradient(to bottom, #237A57, #093028);
}
